<form method="post" action="{{ path('app_mutuelle_delete', {'id': mutuelle.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mutuelle.id) }}">
    <button class="btn">Supprimer</button>
</form>