<form method="post" action="{{ path('app_ordonnance_delete', {'id': ordonnance.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ordonnance.id) }}">
    <button class="btn">Delete</button>
</form>
